<template>
  <div class="about">
    <h1>This is the first half of the list</h1>
    <PersonContainer :isFirst="true"/>
  </div>
</template>
<script>
  import PersonContainer from '../components/PersonContainer';
  export default {
    components: { PersonContainer }
  };
</script>
