<template>
    <span>{{ getDisplayName(person) }} {{ person.age }} in {{ appVersion }}</span>
</template>

<script>
    import Person from './Person';
    import { mapGetters } from 'vuex';

    export default {
        name: 'PersonContainer',
        props: {
            person: {
                type: Object,
                required: true,
            },

        },
        computed: {
            ...mapGetters([
                'appVersion',
            ]),
        },
        methods: {
            getDisplayName(person) {
                return person.name.toUpperCase();
            }
        },
        components: {
            Person,
        }
    };
</script>

<style scoped>

</style>
