<template>
    <div>
        <Person
                v-for="(person, i) in persons.slice(start, end)"
                :person="person"
        />
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import Person from './Person';

    export default {
        name: 'PersonContainer',
        props: {
            isFirst: Boolean
        },
        computed: {
            ...mapState([
                'persons',
            ]),
            start() {
                return this.isFirst ? 0 : 6000;
            },
            end() {
                return this.isFirst ? 6000 : 12000;
            }
        },
        components: {
            Person,
        }
    };
</script>

<style scoped>

</style>
